

header > nav {
    display: block;
    width: 47%;
    float: right;
    margin: 5.6% 0 0 0;
    overflow: auto;
    
    ul {
        display: block;
        width: 100%;
        overflow: auto;
        
        li {
            margin: 0; 
            padding: 0;
            
            a {
                display: block;
                float: left;
                margin: 0 1em 0 0;
                color: $headerNavLinkColor;
                text-align: right;

                #last {
                    margin-right: 0;
                }
            }
            
            a:hover, a:visited:hover {
                color: #000;
                background-color: $headerNavLinkHoverBGColor;
            }
        }
    }    
}