

body.plugins {
    .page-content {
        table.options {
            width: 100%;
            
            th {
                font-weight: bold;
            }
            
            th, td {
                padding: .25em;
            }
            
            td {
                
            }
            
            td.option-name {
                width: 25%;
            }
            
            td.monospace {
                font-family: consolas, courier;
                background-color: #ececec;
                padding: .25em;
            }
            
            td.optional {
                color: #99CC33;
                text-align: center;
                font-weight: bold;
            }
            
            td.required {
                color: #660000;
                text-align: center;
                font-weight: bold;
            }
        }
    }
}
