<div class="plugin-details">
    <h2>Plugins &raquo; Bad Words</h2>

    <p>Perform configurable action when someone says certain words or phrases</p>

    <h3>Options</h3>
    <table class="options">
        <thead>
            <tr>
                <th>name</th>
                <th>description</th>
                <th>default values</th>
                <th>required</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="option-name">ignoreAdmins</td>
                <td>Whether the bot should ignore admins who use bad words</td>
                <td>true</td>
                <td class="optional">no</td>
            </tr>
            
            <tr>
                <td class="option-name">words</td>
                <td>Array of words that the bot should act upon when said</td>
                <td>[]</td>
                <td class="optional">no</td>
            </tr>
            
            <tr>
                <td class="option-name">actions</td>
                <td>Array of actions to take in order. Possible values: say, mute, kick, ban, kickban</td>
                <td>[say]</td>
                <td class="optional">no</td>
            </tr>
            
            <tr>
                <td class="option-name">banDuration</td>
                <td>
                    Default duration for bans
                </td>
                <td>1 minute</td>
                <td class="optional">no</td>
            </tr>
            
            <tr>
                <td class="option-name">muteDuration</td>
                <td>
                    Default duration for mutes
                </td>
                <td>1 minute</td>
                <td class="optional">no</td>
            </tr>
            
            <tr>
                <td class="option-name">replyMessages</td>
                <td>
                    Array of possible things to reply with when a bad word is seen
                </td>
                <td>[]</td>
                <td class="optional">no</td>
            </tr>
            
            <tr>
                <td class="option-name">kickMessages</td>
                <td>Array of messages to choose from when someone is kicked</td>
                <td>&mdash;</td>
                <td class="optional">no</td>
            </tr>
            
        </tbody>
    </table>
</div>
