<h2>Plugins &raquo; CAPS LOCK SATURDAY</h2>

<p>Capitalizes bot nick on Saturdays</p>

<h3>Example</h3>
<img src="/images/cls.jpg" alt="CAPS LOCK SATURDAY plugin">
<p>This examples shows the bot lowercasing its nick after the day changes to Sunday</p>

<h3>Dependencies</h3>
<p>None!</p>