<div class="plugin-details">
    <h2>Plugins &raquo; DB</h2>

    <p>Talks to a MySQL database. This is a dependency plugin and doesn't do anything
    by itself, but many other plugins use it.</p>
</div>
