<h2>Plugins &raquo; Event Messages</h2>

<p>Perform configurable actions when events occur, such as kicks, joins, parts, quits, et cetera.</p>

<h3>Options</h3>
<table class="options">
    <thead>
        <tr>
            <th>name</th>
            <th>description</th>
            <th>default values</th>
            <th>required</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="option-name">kick</td>
            <td>Array of possible messages to say when a kick occurs</td>
            <td>&mdash;</td>
            <td class="optional">no</td>
        </tr>
        
        <tr>
            <td class="option-name">quit</td>
            <td>Array of possible messages to say when someone quits</td>
            <td>&mdash;</td>
            <td class="optional">no</td>
        </tr>
    </tbody>
</table>

<h3>Dependencies</h3>
<p>None!</p>