<h2>Plugins &raquo; News</h2>

<p>Display news headlines at a configurable interval from configurable news feeds</p>

<h3>Options</h3>
<table class="options">
    <thead>
        <tr>
            <th>name</th>
            <th>description</th>
            <th>default values</th>
            <th>required</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="option-name">intervalInMilliseconds</td>
            <td>Send a news headerline every X milliseconds</td>
            <td>3600000 (1 hour)</td>
            <td class="required">yes</td>
        </tr>
        <tr>
            <td class="option-name">channels</td>
            <td>Send news headlines to these channels</td>
            <td>[]</td>
            <td class="required">yes</td>
        </tr>
    </tbody>
</table>

<h3>Dependencies</h3>
<p>None!</p>