<div class="plugin-details">
    <h2>Plugins &raquo; Note</h2>

    <p>Leave someone a note, which is delivered next time they say something</p>

    <h3>Syntax</h3>
    <p class="syntax">
        <span class="nick">&lt;billulum></span> guacamole: note id hey let's get some pizza later
    </p>

    <h3>Dependencies</h3>
    <p><a href="/plugins/db" title="DB Plugin">DB</a></p>
</div>