<div class="plugin-details">
    <h2>Plugins &raquo; Repost</h2>

    <p>Detects links that have been seen before</p>

    <h3>Example</h3>
    <img src="/images/repost.jpg" alt="Example of repost plugin">
    <p>This example shows the repost plugin in action, as well as the <a href="/plugins/titler">titler plugin</a></p>

    <h3>Dependencies</h3>
    <p><a href="/plugins/db" title="DB Plugin">DB</a></p>
    <p><a href="/plugins/logger" title="Logger Plugin">Logger</a></p>
</div>