<div class="plugin-details">
    <h2>Plugins &raquo; Weather</h2>

    <p>Retrieves weather from <a href="http://www.wunderground.com/weather/api/" title="Wunderground API">wunderground API</a>.
    Requires an API key.</p>

    <h3>How do I get an API key?</h3>
    <a href="//www.wunderground.com/weather/api/d/pricing.html" title="Register a free account">Register a free API account</a> and you will receive an API key.

    <h3>Examples</h3>
    <img src="/images/weather.jpg" alt="Weather plugin in action">
    <p>
        
    </p>

    <h3>Options</h3>
    <table class="options">
        <thead>
            <tr>
                <th>name</th>
                <th>description</th>
                <th>default values</th>
                <th>required</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="option-name">apiKey</td>
                <td>Your <a href="http://www.wunderground.com/weather/api/" title="Wunderground API">wunderground API</a> key</td>
                <td>&mdash;</td>
                <td class="required">yes</td>
            </tr>
            
            <tr>
                <td class="option-name">rememberLocation</td>
                <td>Will track users by host mask and remember their weather details</td>
                <td>true</td>
                <td class="optional">no</td>
            </tr>
        </tbody>
    </table>
</div>
