<h2>About</h2>

<p>
    Guacbot is an irc bot written in Javascript using <a href="//nodejs.org/">Node</a>
</p>

<h2>FAQ</h2>

<section class="faq">
    <p class="triangle-border first" id="steaming-pile">
        <a href="#steaming-pile">"How can I let you know what a steaming pile of garbage this is?"</a>
    </p>
    <p class="triangle-border top answer">
        <a href="https://github.com/prgmrbill/guacbot/issues">Please open an issue</a> with questions, 
        pull requests, or derisive comments about my ability as a programmer.
    </p>
    
    <p class="triangle-border" id="why-another-irc-bot">
        <a href="#why-another-irc-bot">"Why another irc bot?"</a>
    </p>
    <p class="triangle-border top answer">
        Doesn't everyone write an irc bot at some point? It feels like a rite of passage to me.
    </p>
    
    <p class="triangle-border" id="why-guacbot">
        <a href="#why-guacbot">"Why is it called Guacbot?"</a>
    </p>
    <p class="triangle-border top answer">
        It was originally called Nodebot, but that seemed somewhat unoriginal.
    </p>
    
    <p class="triangle-border" id="riff-raff">
        <a href="#riff-raff">"Who is responsible for this riff raff?"</a>
    </p>
    <p class="triangle-border top answer">
        William (<a href="//github.com/prgmrbill">PrgmrBill</a>) and the authors of all the libraries I used
    </p>
</section>