
<div class="home">
    <h2>About</h2>

    <p>
        Guacbot is an irc bot written in Javascript using Node. It aims to be useful, but not disruptive. 
        It was originally called Nodebot, but that seemed somewhat unoriginal, so I renamed it after my 
        favorite condiment. If you'd like to see it in action, come say hi @ irc.slashnet.org #guacamole. 
        Please open an issue if you have any questions, pull requests, or derisive comments 
        about my ability as a programmer.
    </p>

    <p><a href="http://github.com/prgmrbill/guacbot">Check it out on Github</a></p>
</div>